body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/2012/Astronaut_Space_2020_Vast_Universe_HD_Poster_1366x768.jpg);
    color: #fff;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

